#transfer-card-details {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.5fr;
  align-items: end;
}
#balance-transfer-card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
#balance-transfer-card-details {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
