body {
  /* background-color: #208f4e; */
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#app-container {
  margin: 10px;
  margin-top: 70px;
}